<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode ="Off"/>
    <!--<securityPolicy>
    <trustLevel name="Full" policyFile="internal"/>
  </securityPolicy>-->
  </system.web>

  <connectionStrings>
    <!--<add name="synthese_dbEntities" 
         connectionString="metadata=res://Data_synthese/Model_Synthese.csdl|
                          res://Data_synthese/Model_Synthese.ssdl|
                          res://Data_synthese/Model_Synthese.msl;
                          provider=MySql.Data.MySqlClient;
                          provider connection string=&quot;
                          server=localhost;User Id=TPUser;
                          password=TPUser2013;
                          database=synthese_db&quot;" providerName="System.Data.EntityClient" />-->
    
    
    <!--db505710429.db.1and1.com-->

    <add name="synthese_dbEntities"
         connectionString="metadata=res://*/Model_Synthese.csdl|
         res://*/Model_Synthese.ssdl|
         res://*/Model_Synthese.msl;
         provider=MySql.Data.MySqlClient;
         provider connection string=&quot;server=mysql501.discountasp.net;
         User Id=tpuser;
         password=TPUser2013;
         database=MYSQL5_947598_synthesedb&quot;"
         providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <!--<diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="true"
       logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->
    <services>
      <service name="WCF_Synthese.ServiceWCF_Synthese"
               behaviorConfiguration="ServiceWCFBehavior" >
        <endpoint  address=""
                   contract="WCF_Synthese.IServiceWCF_Synthese"
                  binding="webHttpBinding"
                  behaviorConfiguration="AjaxBehavior" />

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>

    <!--<extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
             type="WCF_Synthese.EnableCrossOriginResourceSharingBehavior, WCF_Synthese" />
      </behaviorExtensions>
    </extensions>-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp />
        </behavior>
        <!--<behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>-->
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceWCFBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--<behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>-->
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
       propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="..\temp\web_messages.svclog"
       type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
       name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="..\temp\web_tracelog.svclog"
       type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
       name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
</configuration>
<!-- address="WCF_Synthese/ServiceWCF_Synthese.svc" behaviorConfiguration="AjaxBehavior"-->