<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode ="Off"/>
    <!--<securityPolicy>
    <trustLevel name="Full" policyFile="internal"/>
  </securityPolicy>-->
  </system.web>

  <connectionStrings>
    <add name="synthese_dbEntities" 
         connectionString="metadata=res://Data_synthese/Model_Synthese.csdl|
                          res://Data_synthese/Model_Synthese.ssdl|
                          res://Data_synthese/Model_Synthese.msl;
                          provider=MySql.Data.MySqlClient;
                          provider connection string=&quot;server=db505710429.db.1and1.com;User Id=dbo505710429;password=TPUser2013;database=db505710429&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="synthese_dbEntities" connectionString="metadata=res://*/Model_Synthese.csdl|res://*/Model_Synthese.ssdl|res://*/Model_Synthese.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=TPUser;password=TPUser2013;database=synthese_db&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service name="WCF_Synthese.ServiceWCF_Synthese"
               behaviorConfiguration="ServiceWCFBehavior" >
        <endpoint  address=""
                   contract="WCF_Synthese.IServiceWCF_Synthese"
                  binding="webHttpBinding"
                  behaviorConfiguration="AjaxBehavior" />

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>

    <!--<extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
             type="WCF_Synthese.EnableCrossOriginResourceSharingBehavior, WCF_Synthese" />
      </behaviorExtensions>
    </extensions>-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp />
        </behavior>
        <!--<behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>-->
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceWCFBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--<behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>-->
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
<!-- address="WCF_Synthese/ServiceWCF_Synthese.svc" behaviorConfiguration="AjaxBehavior"-->