<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <add name="synthese_dbEntities"
          connectionString="metadata=res://*/Model_Synthese.csdl|
         res://*/Model_Synthese.ssdl|
         res://*/Model_Synthese.msl;
         provider=MySql.Data.MySqlClient;
         provider connection string=&quot;server=mysql501.discountasp.net;
         User Id=tpuser;
         password=TPUser2013;
         database=MYSQL5_947598_synthesedb&quot;"
          providerName="System.Data.EntityClient" />

    <!--db505710429.db.1and1.com-->
    <!--<add name="synthese_dbEntities" connectionString="metadata=res://*/Model_Synthese.csdl|
         res://*/Model_Synthese.ssdl|          
         res://*/Model_Synthese.msl;          
         provider=MySql.Data.MySqlClient;          
         provider connection string=&quot;server=localhost;          
         User Id=TPUser;          
         password=TPUser2013;          
         database=synthese_db&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="True"/>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WCF_Synthese.ServiceWCF_Synthese" behaviorConfiguration="ServiceWCFBehavior">
        <endpoint address="" contract="WCF_Synthese.IServiceWCF_Synthese" binding="webHttpBinding" bindingConfiguration="higherMessageSize" behaviorConfiguration="AjaxBehavior" />
       </service>
    </services>
   
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp />
        </behavior>
          </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceWCFBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          
        </behavior>
       </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!-- configure the maxReceivedMessageSize  value to suit the max size of
         the request ( in bytes ) you want the service to recieve-->
        <binding name="higherMessageSize" maxReceivedMessageSize ="900000000"/>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
