<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="IServiceWCF_Synthese"
        address="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc"
        binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IHello"
        contract="WCF_Synthese_Remote.IServiceWCF_Synthese" >

      </endpoint>
      </client>

    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHello"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard">
          <readerQuotas maxDepth="32"/>
          <reliableSession ordered="true"
                           enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name=" IHello_Behavior ">
          <clientVia />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>