<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="synthese_dbEntities" connectionString="metadata=res://*/Model_Synthese.csdl|res://*/Model_Synthese.ssdl|res://*/Model_Synthese.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=TPUser;password=TPUser2013;database=synthese_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>